# welcome to python

In [2]:
#basic operators 
#basic operators are addition , subtraction , divison et.c

In [3]:
28/2

14.0

In [4]:
28//2 #to remove the .0

14

In [5]:
28 *2

56

In [6]:
25*56

1400

In [7]:
1 +1

2

In [8]:
1-1

0

In [9]:
2+2

4

In [10]:
2*2

4

In [11]:
2/2

1.0

In [13]:
2//2 #TO remove we used floor division

1

for square:

In [14]:
2 **2

4

 a ** b  , this means power of a is b

In [15]:
 4**4

256

so to find square we must do 

x ** power

x is any number

In [16]:
#another mwthod is 
# power of 9 and power is 3 
print(pow(9,3))

729

In [17]:
pow(9,4)

6561

In [18]:
pow(8,2)

64

# variables

variables are basically container which hold some data , data structures

In [19]:
a = 50 #here a hold the value of 50

In [20]:
b = 20 # b holds the 20 value in it

In [21]:
a * b

1000

In [23]:
a //b #floor division

2

In [24]:
a**b

9536743164062500000000000000000000

In [25]:
a + b

70

In [26]:
a- b

30

In [27]:
# we can do operation with different variables too

In [28]:
# we can assign the value to one another variable too.

In [29]:
d = a + b

In [30]:
d   # so d holds the data od a + b

70

In [32]:
e = a * b 
e

1000

# string

 A text is known as string in python . it's always in double quotes("") or single quote('')

In [33]:
print("Hello Python World")

Hello Python World

In [36]:
print("Hello Python World ")
print('python is very interesting language ')
print("I will master it by the end of this year")

Hello Python World
python is very interesting language
I will master it by the end of this year

In [52]:
length = 34 
breadth = 45 
area_of_rectangle = length * breadth

In [43]:
area_of_rectangle

1530

In [47]:
print("The area of rectangle  is " , area_of_rectangle)

The area of rectangle  is  1530

In [53]:
print("The area of rectangle with length" , length, "and breadth" , breadth , "is" , area_of_rectangle)

The area of rectangle with length 34 and breadth 45 is 1530

In [54]:
p = 4 
square = p**2
print("The area of " , p ,"is " , square )

The area of  4 is  16

# comparison operaters

comparison operaters used for comparison between variables or data.

 < , > , == ,  !=

all the above are comparison operators

In [55]:
100 < 40

False

In [56]:
100==100

True

In [57]:
100 != 100

False

In [58]:
100>89

True

In [59]:
100<999

True

# Boolean expression

True and False are the boolean expression

In [60]:
58 > 100

False

In [61]:
56 < 100

True

 == means equal to

In [62]:
# 100 = 100 will be syntax error , single = is assigining operator

# Python datatypes

.string datatypes = given in single or double quote and are text . multiple chracters are strings

.Integer datatypes = integer are those datatypes that are in the form of numbers.

float datatypes = float are those datatypes that are in decimal form  , e.g = 15.24

# how to find length of data :

In [63]:
len("abcd")

4

In [64]:
len("avbkhkf")

7

In [66]:
a = [1,2,3,5,6,6,6243,3,3,3,3,3,33,6,7,]

In [67]:
len(a)

15

In [68]:
len("pune")

4

In [69]:
len("accenture")

9

In [70]:
len("ramandsita")

10

In [71]:
city = 'chennai'
city

'chennai'

In [72]:
len(city) # now city is a variable here and have data , it will find the length of that data

7

# user input

In [73]:
name = input("enter your name :")

enter your name :rohan

In [76]:
name = input("enter your name: ")
age = input("enter your age")
print("you have a very nice name" , name , "and you are very young though just" , age , 'years old')

enter your name: rohan
enter your age25
you have a very nice name rohan and you are very young though just 25 years old

In [84]:
name = input("enter your name :")

print(name)  # adding print is imp here
print(len(name))
print("The lenght of name is " , len(name))
country = input("enter your country name :")

print(country)

enter your name :rohan kalra
rohan kalra
11
The lenght of name is  11
enter your country name :brazil
brazil

In [85]:
name = input("enter your name :")
print(name)

print(" the lenght of name is" , len(name))
country = input("enter your country name ")
print("country")
print("the length of country is" , len(country))

enter your name :rohan kalra
rohan kalra
 the lenght of name is 11
enter your country name brazil
country
the length of country is 6

In [86]:
x = 100
y = 80

In [87]:
x >y

True

In [88]:
x ==y

False

In [89]:
x != y

True

above example shows variable comparison

In [91]:
otp = input("enter your otp :")

enter your otp :1222

In [92]:
10 + 10 + 44 + 100 + 19 + 67

250

In [93]:
'10' + '10' # these both are strings hence it will add in a certain way only tgis addition of string is not like normal integer

'1010'

In [96]:
'happy' +  ' birthday' # this method is known as string concatenation

'happy birthday'

In [97]:
#string concatenation means to add two string data

In [99]:
'python '+ ' is' + ' a' + ' programming language'

'python  is a programming language'

In [102]:
'Elon' + ' Musk'+ ' ceo' + ' of ' + 'Tesla'

'Elon Musk ceo of Tesla'

In [104]:
'my' + ' mobile' + ' is' + ' Realme'

'my mobile is Realme'

In [105]:
'10' + '10'

'1010'

In [106]:
'10' + "10"

'1010'

In [107]:
type(8)

int

In [108]:
type(99.9)

float

In [109]:
type("integer")

str

In [110]:
type(88.88)

float

Type command tell us about the type of data strutures

In [111]:
'python' + 33 # we can not add an int and string

TypeError: can only concatenate str (not "int") to str

In [112]:
'python ' + '333' # HERE both are strings

'python 333'

In [113]:
a = 200
type (a)

int

In [114]:
b = 45.56
type(b)

float

In [115]:
city = 'chennai'
type(city)

str

Typecasting

In [117]:
float(a) # to change the data type from one data type to another , and this process is known as typecasting.

200.0

In [118]:
int(b)# change the float data into int data

45

In [119]:
int(city) #WE Can not chnage any string to int

ValueError: invalid literal for int() with base 10: 'chennai'

In [120]:
str(a) # we can change the datatype of a number or integer to string

'200'

In [121]:
c = 57

In [122]:
e = float(c)

In [123]:
e

57.0

In [124]:
c

57